<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>悦读奇缘抽奖小程序</title>
    <link rel="stylesheet" href="../static/css/summarize/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="../static/css/summarize/pro2.css">


</head>
<body>
	<div class="pop_con" id="pop_con" style="display: none;">
	</div>

<div class="navbar navbar-default navbar-static-top navbar-fixed-top">
    <div class="container">
        <!-- 导航条头部元素 -->
        <div class="navbar-header">
            <button class="navbar-toggle" data-toggle="collapse" data-target="#my_menu">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/choujiang/#" class="navbar-brand">抽奖程序</a>
        </div>
    </div>
</div><!-- 导航栏 -->

<br>
<br>

<!-- 文本输入栏 -->
<div class="container" style="width: 600px">
    <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">姓名</span>
        <input type="text" class="form-control"  placeholder="抽奖姓名" aria-describedby="basic-addon1">
    </div>

    <br>
    <div class="jumbotron firstpart" id="firstpart_g">
        <div class="col-lg-3 row">
            <div class="container" style="height: 76px">
                <div style="text-align-all: right;">
                    <button id="submit" class="my-buttton" type="submit" name="" value="">开始抽奖</button>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <img src="http://5b0988e595225.cdn.sohucs.com/q_70,c_zoom,w_640/images/20190121/4b3f201350344902965a644775908c1b.gif" id="img" style="margin: auto; height: 70%; width: 70%; display: none" alt="">
        </div>
    </div>
</div><!-- 文本输入栏 -->


<br>

<!-- 展示目录栏 -->
<div class="container" style="width: 600px">
    <span style="font-size:24px;">抽奖结果</span>
    <hr style="border-top: 2px solid #eee;margin-top: 0px;">
    <h3 id="show"></h3>
</div><!-- 展示目录栏 -->



<!-- 加载javascript -->
<script src="../static/js/summarize/jquery.min.js"></script>
<script src="../static/js/summarize/bootstrap.min.js"></script>
<script src="../static/js/summarize/d3.v3.min.js" charset="utf-8"></script>
<script src="../static/js/summarize/d3.min.js"></script>
<script src="../static/js/summarize/d3-legend.min.js"></script>

<script type="text/javascript" src="../static/js/summarize/pro3.js"></script>

</body>
</html>